@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-loop {
  display: flex;
  white-space: nowrap;
  animation: scrollLoop 40s linear infinite;
}
